body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Acme";
    background: #5a3357;
  }
  audio{
   padding: 0 0 10px 20px ; 
  }
  #abcd{
    display: flex;

    align-items: center;
    padding: 100px;
    background: url('o.jpeg') no-repeat;
    background-position:inherit ;
    background-size: 42%;
    width: 100%;
  }
  .container {
    max-width: 1000px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .untoldcoding {
    position: relative;
    margin: 20px 0;
    width: 300px;
    height: 400px;
    background: linear-gradient(#fef7f7, #000000);
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
  }
  
  .untoldcoding:hover {
    z-index: 1111;
    transform: perspective(2000px) rotate(-10deg);
  
    box-shadow: 5px 5px 20px rgb(235, 151, 128);
  }
  
  .untoldcoding .img-container {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
  }
  
  .untoldcoding .img-container img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .untoldcoding:hover .img-container {
    transform: rotateY(-135deg);
  }
  
  .untoldcoding .untoldcoding-details {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 20px;
    color: #f5e218c8;
    font-weight: bolder;
    
  }
  
  .untoldcoding .untoldcoding-details h2 {
    margin: 0;
    padding: 0.5em 0;
    text-transform: uppercase;
    font-size: 2em;
    background: linear-gradient(to right, #f32170, #ff0c08, #710071, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: untold 3s infinite ease-in-out;
    
  }
  .untoldcoding .untoldcoding-details p {
    margin: 0;
    padding: 0;
    line-height: 25px;
    font-size: 1.3em;
    font-weight: 900;

   
  }
  .btn-group {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
button{
  width: 230px;
  padding: 10px 0;
  text-align: center;
  height: inherit;
  margin: 10px 10px;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 0 2px 4px gray;
  border: 2px solid #009688;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  position: absolute;
  overflow: hidden;
}
span{
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
z-index: -1;
transition: 0.5s;
}
button:hover span{
  width: 100%;
}
button:hover{
  border: none;
}
a{
  text-decoration: none;
  color: #1014ff;
  text-transform: uppercase;
  background: transparent;
}

  
  @keyframes untold {
    0% {
      background: linear-gradient(to right, #f32170, #ff0c08, #710071, #eedd44);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      animation: untold 0.1s infinite ease-in-out;
    }
    50% {
      background: linear-gradient(to right, #2fff00, #1008ff, #ec4705, #a744ee);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      animation: untold 3s infinite ease-in-out;
    }
    100% {
      background: linear-gradient(to right, #f32121, #ff0890, #cdb903, #d122f8);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      animation: untold 1s infinite ease-in-out;
    }
  }
